[Unit]
Description=LED
After=lxc@android.service

[Service]
ExecStartPre=/usr/bin/waitforservice init.svc.light-hal-2-0
ExecStart=/usr/share/who53/led
Restart=always
TimeoutStartSec=5

[Install]
WantedBy=graphical.target
