Source: adaptation-lenovo-akita
Maintainer: Deepak Meena <who53@disroot.org>
Section: metapackages
Priority: optional
Build-Depends: 
        debhelper-compat (= 13),
        libdroid-dev,
        libupower-glib-dev,
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/who53/droidian-lenovo-akita
Vcs-Git: https://github.com/who53/droidian-lenovo-akita.git

Package: adaptation-lenovo-akita
Architecture: all
Depends: ${misc:Depends},
         linux-bootimage-lenovo-akita,
         adaptation-hybris-api29-phone,
         adaptation-lenovo-akita-configs,
         libdroid-0-1,
Description: Lenovo Tab M8 Adaptation Package

Package: adaptation-lenovo-akita-configs
Architecture: all
Depends: ${misc:Depends},
         adaptation-lenovo-akita (= ${binary:Version}),
Description: Lenovo Tab M8 Adaptation Package Configs
