#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	gcc -o usr/share/WHO53/led src/led.c -I/usr/include/libupower-glib -I/usr/include/glib-2.0 -I/usr/lib/aarch64-linux-gnu/glib-2.0/include -I/usr/include/sysprof-6 -pthread -ludev -lupower-glib -lgobject-2.0 -lglib-2.0

override_dh_installsystemd:
	dh_installsystemd --name audio-fix --no-start
	dh_installsystemd --name led --no-start
